################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomerManagement/v15/Server/sqlite3
/.vs/CustomerManagement/v15
